body {
    background-color: #E5E5E5;
}

.header {
    background-color: #0B4B36;
    color: white;
}

.header-title {
    font-size: 21px;
    border-right: 1px solid white;
    font-weight: 500;
}

.header-subtitle {
    font-size: 16px;
}

.portal-link {
    color: white;
    text-decoration: underline;
}

.portal-link:hover {
    color: black;
}

.outDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 516px;
    height: 461px;
    left: 500px;
    top: 170px;
    background: #FFFFFF;
    border-radius: 6px;
}

.formDiv {
    width: 80%;
}

.formHeading {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: #0B4B36;
}

.login-label {
    font-size: 13px;
    color: #777777;
    font-weight: 600;
}

.login-btn {
    font-weight: 600;
    font-size: 14px;
    padding: 10px 0;
    background-color: #0B4B36;
    border-color: #0B4B36;
}

.login-btn:hover {
    background-color: white;
    color:#0B4B36;
    font-weight: bold;
    border-color: #0B4B36;
    box-shadow: 0px 0px 1px 0.5px #0B4B36;
}

.login-btn:focus {
    background-color: white;
    color:#0B4B36;
    font-weight: bold;
    border-color: #0B4B36;
    box-shadow: 0px 0px 1px 0.5px #0B4B36;
}

.login-btn:active {
    background-color: white;
    color:#0B4B36;
    font-weight: bold;
    border-color: #0B4B36;
    box-shadow: 0px 0px 1px 0.5px #0B4B36;
}

.login-form-links {
    font-size: 14px;
    color:#0B4B36;
    font-weight: 400;
    padding-top: 8px;
}

#error-login {
    color: red;
    display: none;
}